body {
	background-image: url(../images/deathstar.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 100px;
}

.header-style {
	font-family: 'Russo One', sans-serif;
	color: white;
	text-align: center;
}

div.unassigned-character {
	margin-right: 10px;
	margin-bottom: 5px;
	border: 2px solid #ccc;
	float: left;
	width: 110px;
}

.enemy-character {
	margin-right: 10px;
	margin-bottom: 5px;
	border: 2px solid #ccc;
	float: left;
	width: 110px;
}

.selected-character {
	margin-right: 10px;
	margin-bottom: 5px;
	border: 2px solid #ccc;
	float: left;
	width: 110px;
}

.current-enemy {
	margin-right: 10px;
	margin-bottom: 5px;
	margin-top: 0px;
	border: 2px solid #ccc;
	float: left;
	width: 110px;
}

.waiting-enemies {
	margin-right: 10px;
	margin-bottom: 5px;
	border: 2px solid #ccc;
	float: left;
	width: 110px;
}

figcaption {
	font-family: 'Russo One', sans-serif;
	color: white;
	text-align: center;
}

.caption-HP {
	font-family: 'Russo One', sans-serif;
	padding: 5px;
	text-align: center;
	color: white;
}

h3 {
	font-family: 'Russo One', sans-serif;
	color: white;
	display: block;
	clear: both;
}

h2 {
	font-family: 'Russo One', sans-serif;
	color: white;
	display: block;
	clear: both;
	margin-bottom: 5px;
}

#attack {
	margin-left: 5px;
}

#fightSection {
	margin-bottom: 0;
}

.attack-message {
	margin-left: 150px;
	font-family: 'Russo One', sans-serif;
	color: white;
	display: inline;
}

.counter-message {
	margin-left: 150px;
	font-family: 'Russo One', sans-serif;
	color: white;
	display: inline;
}

#defenderSection {
	margin-bottom: 0px;
}

p {
	display: inline;
}

